@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.primary_btn {
    @apply rounded-full border bg-teal-300 py-1.5 px-5 text-white transition-all hover:bg-white hover:text-teal-300 text-center text-sm  flex items-center justify-center;
}

.outline_btn {
    @apply rounded-full border border-teal-300 bg-transparent py-1.5 px-5 text-black transition-all hover:bg-teal-300 hover:text-white text-center text-sm  flex items-center justify-center;
}

.underline_link {
    @apply hover:underline decoration-teal-300 transition-all;
}

.flex_center {
    @apply flex justify-center items-center;
}
